text.title {
    font-family: Conduit;
    font-size: 40%;
    font-weight: bold;
    color: wheat;
    position: absolute;
    left: 2%;
    top: 2%;
    text-shadow: 5px 5px 50px rgba( black, 0.8 );

    /* This really should be moved to its own thing, but its 4 am and im too tired. */
    cursor: url(/ui/cursor/why.png), pointer;
    pointer-events : all;
}